APP_NAME=LinkedIn Coach
ENV=development

DATABASE_URL=postgresql://user:password@localhost:5432/linkedin_coach

LANGCHAIN_API_KEY_GEMINI=your_google_gemini_api_key_here
LANGCHAIN_API_KEY_EMBEDDING_GEMINI=your_google_gemini_api_key_here
LANGCHAIN_MODEL=google_genai:gemini-2.5-flash-lite
LANGCHAIN_EMBEDDING_MODEL=google_genai:gemini-2.5-flash-lite

LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=linkedin-coach-rag
LANGSMITH_API_KEY=your_langsmith_api_key_here
